@font-face {
    font-family: 'Eastman Grotesque Alt Light';
    src: url('../fonts/Eastman-Grotesque-Alt-Light-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 20px;
    background-color: #372c1e;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #372c1e;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #372c1e;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #372c1e;
    color: white;
}

td{
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
